<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="wan.cloud.note.DAO.noteDAO">
    <select id="findnotename" parameterType="String" resultType="wan.cloud.note.entity.cn_note">
        select * from cn_note where cn_notebook_id=#{id} and cn_note_status_id='1' order by cn_note_create_time desc
    </select>
    <update id="modifytitle" parameterType="wan.cloud.note.entity.cn_note">
        update cn_note set cn_note_title=#{cn_note_title} where cn_note_id=#{cn_note_id} 
    </update>
    <insert id="newnote" parameterType="wan.cloud.note.entity.cn_note">
       insert into cn_note (
                       cn_note_id,
                       cn_notebook_id,
                       cn_user_id,
                       cn_note_status_id,
                       cn_note_type_id,
                       cn_note_title,
                       cn_note_body,
                       cn_note_create_time,
                       cn_note_last_modify_time
                       )
                       values
                       (  #{cn_note_id},
                          #{cn_notebook_id},
                          #{cn_user_id},
                          #{cn_note_status_id},
                          #{cn_note_type_id},
                          #{cn_note_title},
                          #{cn_note_body},
                          #{cn_note_create_time},
                          #{cn_note_last_modify_time}
                       )
    </insert>
    <select id="findContent" parameterType="String" resultType="wan.cloud.note.entity.cn_note">
      select * from cn_note where cn_note_id=#{noteid}
    </select>
    <update id="saveContent" parameterType="wan.cloud.note.entity.cn_note">
      update cn_note set cn_note_title=#{cn_note_title},cn_note_body=#{cn_note_body},cn_note_last_modify_time=#{cn_note_last_modify_time}
      where cn_note_id=#{cn_note_id}
    </update>
    <update id="updateStatus" parameterType="wan.cloud.note.entity.cn_note">
         update cn_note set cn_note_status_id='2',cn_note_last_modify_time=#{cn_note_last_modify_time}
          where cn_note_id=#{cn_note_id}
    </update>
    <update id="swapBookID" parameterType="wan.cloud.note.entity.cn_note">
         update cn_note set cn_notebook_id=#{cn_notebook_id},cn_note_last_modify_time=#{cn_note_last_modify_time}
         where cn_note_id=#{cn_note_id}
    </update>
    <select id="renotename" parameterType="String" resultType="wan.cloud.note.entity.cn_note">
        select * from cn_note where cn_user_id=#{id} and cn_note_status_id='2' order by cn_note_last_modify_time desc
    </select>
    <update id="rollback" parameterType="wan.cloud.note.entity.cn_note">
        update cn_note set cn_note_status_id='1',cn_note_last_modify_time=#{cn_note_last_modify_time},cn_notebook_id=#{cn_notebook_id} where cn_note_id=#{cn_note_id}
    </update>
    <delete id="deleteNote" parameterType="String">
       delete from cn_note where cn_note_id=#{noteid}
    </delete>
   <!-- <update id="removeNoteBook" parameterType=""></update> -->
    <select id="searchTitle" parameterType="wan.cloud.note.entity.cn_share" resultType="wan.cloud.note.entity.cn_share">
        select * from cn_share where cn_share_title like concat(#{cn_share_title},"%") 
    </select> 
    <select id="rollbackContent" parameterType="String" resultType="wan.cloud.note.entity.cn_note">
        select * from cn_note where cn_note_id=#{cn_note_id} and cn_note_status_id='2' 
    </select>
    <delete id="deleteNotebook" parameterType="wan.cloud.note.entity.cn_note">
        delete from cn_note where cn_notebook_id=#{cn_notebook_id}
    </delete>
    <select id="querysharecollection" parameterType="String" resultType="wan.cloud.note.entity.cn_note">
         select * from cn_note where cn_note_status_id='3' and cn_user_id=#{userid} order by cn_note_last_modify_time desc
         
    </select>
   <!--  <delete id="deleteNotes">
    delete from cn_note where cn_note_id in
       <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
       </foreach>
    </delete>
    <update id="updateTest" parameterType="wan.cloud.note.entity.cn_note">
        
    </update> -->
   
 </mapper>
 
 
 
 
 
 