<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="wan.cloud.note.DAO.UserDao">
    <select id="findByName" parameterType="String" resultType="wan.cloud.note.entity.User" >
    select * from cn_user where cn_user_name=#{name}
    </select>
    <insert id="save" parameterType="wan.cloud.note.entity.User">
    insert into cn_user (cn_user_id,cn_user_name,cn_user_password,cn_user_token,cn_user_desc)values
    (#{cn_user_id},#{cn_user_name},#{cn_user_password},#{cn_user_token},#{cn_user_desc})
    
    </insert>
    <select id="findusername" parameterType="String" resultType="wan.cloud.note.entity.User">
       select * from cn_user where cn_user_id=#{userid}
    </select>
    <update id="modifyPassword" parameterType="wan.cloud.note.entity.User">
       update cn_user set cn_user_password=#{cn_user_password} where cn_user_id=#{cn_user_id}
    </update>
 </mapper>